@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700|Poppins:400,800|Raleway:400,700,900|Roboto+Condensed&display=swap');
/* CSS Document */

/*
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Noto Sans', sans-serif;
*/
body {
	background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('../images/body_images.jpg') center fixed no-repeat;
	background-size: cover;
	color: #fff;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 16px;
	width: 80%;
	margin: 10px auto;
	align-items: center;
}
h1 {
	color: #F30A93;
	font-family: 'Noto Sans', sans-serif;
	font-size: 25px;
}
header {
	background: url('../images/header.jpg') center no-repeat;
	background-size: cover;
	height: 30vh;
	padding: 0px;
	margin: 0px;
	text-align: center;
}

header h1 {
	display: inline-block;
	position: relative;
	top: 100px;
	left: 30px
}

nav {
	color: aliceblue;
	font-family: 'Raleway', sans-serif;
	
}
nav:hover ul {
	display: block;
}
nav a{
	color: #FDFDFD;
	text-decoration:none;
}
nav ul {
	background-color: rgba(209,11,208,0.5);
	list-style-type: none;
	display: none;
	
}
nav ul li {
	font-size: 12px;
}
footer {
	display: block;
	height: 20vh;
	background-color:hotpink;
	text-align: center;
}

/************Class**************/
.wrap {
	display: grid;
	margin: 10px auto;
	grid-template-rows: 1fr;
	grid-template-areas:
		'txt_one'
		'img_one'
		'txt_two'
		'img_two'
		'txt_thr'
		'img_thr'
		'txt_fou'
		'img_fou';
		
}

.wrap img {
	width: 100%;
}
.wrap h1 {
	color: #fff;
	font-size: 20px;
	text-align: center;
}

.text_one {
	grid-area: txt_one;
}
.text_two {
	grid-area: txt_two;
}
.text_thr {
	grid-area: txt_thr;
}
.text_fou {
	grid-area: txt_fou;
}

.image_one {
	grid-area: img_one;
}

.image_two {
	grid-area: img_two;
}

.image_thr {
	grid-area: img_thr;
}

.image_fou {
	grid-area: img_fou;
}
#menu_icon {
	background: url('../images/menu_icon.png') center no-repeat;
	background-size: cover;
	float:right;
	height: 40px;
	width: 40px;
}

/************Media**************/
@media screen and (min-width:768px){
	body {
		width: 90%;
	}
	nav ul {
		display: inline-block;
		float: right;
	}
	nav ul li {
		display: inline-block;
		margin: 10px;
	}
	h1 {
		font-size: 40px;
	}
	header {
		height: 50vh;
	}
	header h1 {
		top: 0px;
	}
	.wrap h1 {
		font-size: 25px;
	}
	.wrap {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 10px;
	grid-template-areas: 
		'txt_one img_one'
		'img_two txt_two'
		'txt_thr img_thr'
		'img_fou txt_fou';
	
}
	
	#menu_icon {
		display: none;
	}
}
@media screen and (min-width:1024px){
	body {
		font-size: 23px;
		width: 80%;
	}
	h1 {
		font-size: 60px;
	}
	.wrap h1 {
		font-size: 30px;
	}
	
}

@media screen and (min-width:1440px) {
	nav ul li {
	font-size: 16px;
}
	header h1 {
		top:0px
	}
	body {
		font-size: 25px;
	}
	h1 {
		font-size: 80px;
	}
	.wrap h1 {
		font-size: 40px;
	}
}
